{
    "CN": "kubernetes",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "TW",
            "L": "Taipei",
            "ST": "Taipei",
      	    "O": "k8s",
            "OU": "System"
        }
    ]
}
